/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --color-dark: #1f2d36;
  --color-light: #fafafa;
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;

  font-size: 1.8rem;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3.2rem;

  position: relative;

  padding-top: 20.2rem;

  color: var(--color-dark);
  background-color: var(--color-light);
}
body.mode,
body.mode .header,
body.mode .input-container,
body.mode .btn--mode,
body.mode .input,
body.mode .btn--input,
body.mode #countries,
body.mode .country,
body.mode .country-full,
body.mode .logo,
body.mode .btn--back,
body.mode .list-item {
  color: var(--color-light);
  background-color: var(--color-dark);
}
body.mode .header,
body.mode .input-container,
body.mode .country,
body.mode .btn--back,
body.mode .list-item {
  -webkit-box-shadow: -1px 1px 5px 0px rgba(255, 255, 255, 0.12);
  box-shadow: -1px 1px 5px 0px rgba(255, 255, 255, 0.12);
}
.container {
  width: 100%;
  max-width: 1024px;

  margin: 0 auto;
}
.container.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3.2rem;
}
.header,
.form {
  position: fixed;
  left: 0;
  right: 0;
}
.header {
  width: 100%;
  height: auto;

  top: 0;

  padding: 2.4rem;
  background-color: #ffff;

  -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);

  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--color-dark);
}
.header .container,
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.form {
  max-width: 1024px;

  margin: 0 auto;

  top: 10.8rem;
}
.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  min-width: -webkit-fit-content;

  min-width: -moz-fit-content;

  min-width: fit-content;
  width: 40%;
  background-color: #ffff;

  -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);

  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.input-container:last-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 20%;
}
.section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4.8rem 1fr 4.8rem 1fr 4.8rem 1fr;
  grid-template-columns: repeat(4, 1fr);

  gap: 4.8rem;

  padding: 0 2.4rem;
  padding-bottom: 6.4rem;
}
.country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  background-color: #ffff;

  border-radius: 0.5rem;

  overflow: hidden;

  -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);

  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);

  /* width: 270px;
  height: 340px; */

  /* 
  box-shadow: -1px 1px 5px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 5px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 5px 4px rgba(0, 0, 0, 0.75); */
}
.country-name {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.country section {
  margin-top: auto;
  padding: 1.4rem;
}
.country:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}
.img {
  display: block;

  width: 100%;
  /* flex: 0 0 40%; */
}
.data {
  font-size: 1.2rem;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.data:last-child {
  margin-bottom: 0.6rem;
}
.data span {
  font-weight: normal;
}
.input {
  background-color: none;

  border: none;
  font-size: 1.2rem;

  padding: 1.6rem 0;

  background-color: #1f2d3600;

  -webkit-box-flex: 0;

  -ms-flex: 0 0 85%;

  flex: 0 0 85%;
}
.input:focus {
  outline: none;
}
#countries {
  text-align: center;
  font-size: 1.2rem;
  padding: 1.6rem;

  background-color: #1f2d3600;
  border: none;
}
.btn--input {
  background-color: #1f2d3600;
  border: none;

  -webkit-box-flex: 1;

  -ms-flex: 1 0 0px;

  flex: 1 0 0;

  font-size: 2rem;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  padding: 1.6rem;
}
.btn--input:hover {
  cursor: pointer;
}
.btn--mode {
  height: 100%;

  text-decoration: none;
  color: #1f2d36;

  font-size: 1.2rem;
  font-weight: bold;
}
.btn--mode span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.4rem;
}
.btn--mode ion-icon {
  font-size: 1.6rem;
}
.active {
  display: none !important;
}
.country-section {
  width: 100%;
  height: 100%;
  min-height: 80vh;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.country-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 4.6rem;

  width: 100%;
  height: 100%;

  border-radius: 1rem;

  padding: 2.4rem;

  background-color: #fff;
  -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.country-full img {
  display: inline-block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
}
.country-full section {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0px;
  flex: 1 0 0;
  height: 100%;
  padding: 4.6rem;
}
.country-full .name {
  font-size: 2.4rem;

  margin-bottom: 2.4rem;
}
.country-full .data {
  font-size: 1.6rem;
}
.country-full .data:not(:last-child) {
  margin-bottom: 0.2rem;
}
.country-full .data span,
.country-full .list span {
  font-size: 1.2rem;
}
.list {
  list-style: none;

  width: 100%;
}
.list-item {
  display: inline-block;

  padding: 0.6rem 1.2rem;

  font-size: 1.2rem;
  -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);
  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);

  background-color: #ffff;

  margin: 0.8rem 0;
  margin-right: 0.8rem;
}
.list-item:hover {
  cursor: pointer;
}

.btn--back {
  text-decoration: none;
  color: #1f2d36;
  background-color: #ffff;
  border: none;

  -webkit-box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);

  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);

  padding: 1.6rem;
}
.btn--back:hover {
  cursor: pointer;
}
@media (max-width: 55em) {
  .section {
    -ms-grid-columns: (1fr) [3];
    grid-template-columns: repeat(3, 1fr);
    padding-top: 6.4rem;
  }
}
@media (max-width: 48em) {
  .section {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    padding-top: 6.4rem;
  }
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-box-align: start;

    -ms-flex-align: start;

    align-items: flex-start;

    gap: 2.4rem;
    padding: 0 3.2rem;
  }
  .input-container:nth-child(2n) {
    width: 100%;
  }
  .country-full {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .country-full img {
    width: 100%;
  }
  .country section {
    padding: 2.4rem;
  }
  .country-full section {
    padding: 4.6rem 0;
  }
}
@media (max-width: 36em) {
  .section {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 0 6.4rem;
    padding-bottom: 6.4rem;
    padding-top: 6.4rem;
  }
}
