:root {
  --color-dark: #1f2d36;
  --color-light: #fafafa;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;

  font-size: 1.8rem;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  color: var(--color-dark);
  background-color: var(--color-light);
}
body.mode,
body.mode .header,
body.mode .input-container,
body.mode .btn--mode,
body.mode .input,
body.mode .btn--input,
body.mode #countries,
body.mode .country {
  color: var(--color-light);
  background-color: var(--color-dark);
}
body.mode .header,
body.mode .input-container,
body.mode .country {
  box-shadow: -1px 1px 5px 0px rgba(255, 255, 255, 0.12);
}
.container {
  width: 100%;
  max-width: 1024px;

  margin: 0 auto;
}
.container.content {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.header {
  width: 100%;
  height: auto;

  padding: 2.4rem;
  background-color: #ffff;

  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.logo {
  font-weight: bold;
}
.header .container,
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form {
  padding: 0 2.4rem;
}
.input-container {
  display: flex;

  width: 40%;
  background-color: #ffff;

  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.input-container:last-child {
  flex-direction: column;
  width: 20%;
}
.section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 4.8rem;

  padding: 0 2.4rem;
  padding-bottom: 6.4rem;
}
.country {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;

  background-color: #ffff;

  border-radius: 0.5rem;

  overflow: hidden;

  box-shadow: -1px 1px 5px 0px rgba(0, 0, 0, 0.12);

  /* width: 270px;
  height: 340px; */

  /* 
  box-shadow: -1px 1px 5px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 1px 5px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 5px 4px rgba(0, 0, 0, 0.75); */
}
.country-name {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}
.country section {
  margin-top: auto;
  padding: 1.4rem;
}
.country:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 1s;
}
.img {
  display: block;

  width: 100%;
  /* flex: 0 0 40%; */
}
.data {
  font-size: 1.2rem;
}
.data span {
  font-weight: normal;
}
.input {
  background-color: none;

  border: none;
  font-size: 1.2rem;

  padding: 1.6rem 0;

  background-color: #1f2d3600;

  flex: 0 0 85%;
}
.input:focus {
  outline: none;
}
#countries {
  text-align: center;
  font-size: 1.2rem;
  padding: 1.6rem 0;

  background-color: #1f2d3600;
  border: none;
}
.btn--input {
  background-color: #1f2d3600;
  border: none;

  flex: 1 0 0;

  font-size: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn--mode {
  text-decoration: none;
  color: #1f2d36;

  display: flex;
  align-items: center;
  gap: 1.4rem;

  font-size: 1.2rem;
  font-weight: bold;
}
.btn--mode ion-icon {
  font-size: 1.6rem;
}
.active {
  display: none !important;
}
@media (max-width: 55em) {
  html {
    font-size: 46%;
  }
  .section {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 48em) {
  .section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 36em) {
  .section {
    grid-template-columns: 1fr;
    padding: 0 6.4rem;
  }
  .country section {
    padding: 2.4rem;
  }
}
